    p{
      text-align: center; color: white; font-weight: bold; font-family: arial;
    }
    input[type=text],input[type=password]{
      background: transparent; border: 1px solid white; padding-top: 0.7em; padding-bottom: 0.7em;
      padding-left: 1em; padding-right: 1em; font-family: arial; border-radius: 5px; transition: 0.4s;
    }
    #rem{
      text-align: left; padding-left: 7.9em; font-weight: normal; font-size: 0.7em;
    }
    #loginbutton{
      padding-left: 7.2em; padding-right: 7.2em; padding-top: 0.7em; padding-bottom: 0.7em;
      border-radius: 5px; color: white; font-weight: bold; background: #00e6e6;
      border:none; transition: 0.4s;
    }
    #forget{
      padding-left: 1em; font-weight: normal; font-size: 0.7em;
    }
        ::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
 padding-top: 0.6em; padding-bottom: 0.6em; padding-left: 2em; padding-right: 2em;
  background-color: transparent; border: 1px solid black; margin-top: 0.6em; border-radius: 5px; transition: 0.7s;
}


/* Center the image and position the close button */
.imgcontainer {
  padding-top: 2em;
  text-align: center;
  margin: 0 auto;
      width: 400px;
      height: 600px;
      background-image: linear-gradient(to bottom right, #1aff66, #6666ff);
      background-repeat: no-repeat;
  position: relative;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 26%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}
